*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #5cb6d6b8;
    color: #fff;

    width: 100vw;
    height: 100vh;

    padding: 10px;
    margin: 10px;
}

.container-total-posts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.container-total-posts div{
    background-color: #f7cfcfb5;
    box-shadow: 0px 0px 2px 10px #f7cfcf;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container-total-posts div div h2{
    font-weight: 800;
    font-size: 1.5em;
    text-shadow: 0px 1px 8px #bce6f5;
    padding-top: 20px;

}

.container-total-posts div div p{

    color: #000000;

    padding: 20px 0px;

}

.hide{
    display: none;
}


h1{
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 1px 1px 8px #727272;

    padding: 10px;
}

a, input[type="submit"] {
    background-color: #5cb5d6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    opacity: .7;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

a:hover, input[type="submit"]{
    opacity: 1;
}

#loading{
    background-color: #fce2e29d;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;

    font-size: 1.8em;
    text-shadow: 1px 1px 10px #5cb5d6;
}

.post-container div div{

    margin-top: 30px;
    margin-bottom: 15px;
    background-color: #f7cfcf;
    box-shadow: 0px 0px 2px 5px #f7cfcf;
    border-radius: 10px;

}

.post-container div div h1{
    font-size: 1.5em;
}

.post-container div div p{
    padding: 8px;
}

#post h2{
    font-size: 2em;
    font-weight: 800;
    margin: 10px 0px;
}

#comment-form div{
    display: flex;
    flex-direction: column;
}

#comment-form div label{
    font-weight: 600;
    font-size: 18px;
}

#comment-form div input, textarea{
    width: 300px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin: 5px 0px;
}

textarea{
    margin-bottom: 15px;
}
